@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

header {
    padding-top: 110px;
}

.row {
    display: flex;
}

.col {
    width: 50%;
}

h1 {
    font-family: 'PT Serif', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
    color: #000000;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 10px;
}

.description {
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.row-team {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 96px;
}

.team {
    max-width: 33.33%;
    position: relative;
}

.team:nth-child(2) {
    margin-left: 66px;
    margin-right: 66px;
    margin-top: 99px;
}

.team:nth-child(5) {
    margin-top: 57px;
}

img {
    max-width: 237px;
    max-height: 341px;
    width: 100%;
    height: auto;
    padding-right: 26px;
}

.vertical-text {
    font-family: 'PT Serif', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: absolute;
    top: 0;
    right: 0;
}

.name {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    margin-top: 15px;
}

footer {
    padding: 115px 0 24px 0;
}

footer p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #A9A9A9;
}

footer a {
    font-weight: bold;
    color: #A9A9A9;
}

@media only screen and (max-width: 1024px) {

    header {
        padding: 71px 12px 0 12px;
    }

    header .row {
        flex-direction: column;
    }

    .col {
        width: 100%;
    }

    .col h1 {
        margin-bottom: 38px;
    }

    main {
        padding: 0 20px;
    }

    .row-team {
        margin-top: 59px;
    }

    .team {
        max-width: 30%;
    }

    .team:nth-child(2), .team:nth-child(5)  {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 59px;
    }

}

@media only screen and (max-width: 767px) {

    .description {
        font-size: 14px;
        line-height: 21px;
    }

    img {
        padding-right: 17px;
    }

    .vertical-text {
        font-size: 10px;
        line-height: 13px;
    }

    .name {
        font-size: 14px;
        line-height: 21px;
        margin-top: 10px;
    }

    .team {
        max-width: 45%;
    }

    .team:nth-child(even) {
        margin-left: 20px;
        margin-right: 0px;
        margin-top: 48px;
    }

    .team:nth-child(5) {
        margin: 0;
    }

}